appdirs==1.4.4
certifi==2021.10.8
charset-normalizer==2.0.12
cupy-cuda113==10.3.1
fastrlock==0.8
graphsurgeon @ file:///TensorRT-8.2.3.0/graphsurgeon/graphsurgeon-0.4.5-py2.py3-none-any.whl
idna==3.3
Mako==1.2.0
MarkupSafe==2.1.1
numpy==1.22.3
opencv-python==4.5.5.64
Pillow==9.0.1
platformdirs==2.5.1
polygraphy==0.36.0
protobuf==3.19.4
pycuda==2021.1
pytools==2022.1.2
requests==2.27.1
tensorrt @ file:///TensorRT-8.2.3.0/python/tensorrt-8.2.3.0-cp38-none-linux_x86_64.whl
torch==1.11.0
torchvision==0.12.0
typing_extensions==4.2.0
uff @ file:///TensorRT-8.2.3.0/uff/uff-0.6.9-py2.py3-none-any.whl
urllib3==1.26.9
